
    <button class="newGame">Новая игра</button>

    <div class="turn" style="display: inline-block"></div> <div class="state" style="display: inline-block"></div>
    <br /><br />

<div class="board">

</div>

<div style="float: left; display:none" >
    <ul>
        <li>Игра ведётся на доске 8х8 клеток, только на черных ячейках</li>
        
        <li>Шашки в начале игры занимают первые три ряда с каждый стороны</li>
        
        <li>Бить можно произвольное количество шашек в любых направлениях</li>
        
        <li>Простые шашки ходят только вперёд</li>
        
        <li>Простая шашка может срубить назад</li>
        
        <li>Дамка ходит на любое число полей в любую сторону</li>
        
        <li>Проигрывает тот, у кого не остается фигур, либо ходов</li>
        
        <li>Шашка снимается с поля после боя (можно перефразировать так: одну шашки нельзя срубить дважды за один ход)</li>
        
        <li>Бить обязательно</li>
        
        <li>Шашка превращается в дамку, достигнув восьмой (для белых) или первой (для черных) линии доски</li>
        
        <li>Если шашка во время боя проходит через дамочное поле, то она превращается в дамку и следующие бои (если они возможны) совершает уже как дамка</li>
    </ul>


</div>



@section Scripts
{
    <script>
        
            $().ready(function() {

                new Board().initBoard();
            });

    </script>


}
