<button class="newGame">Новая игра</button>

<button class="flip">Перевернуть</button>
<br/><br />
<div class="board">

</div>

@section Scripts
{
    <script>
        
            $().ready(function() {

                new Board().initBoard();
            });

    </script>


}
