<div class="button__container" >
    <button class="button__new" >Новая игра</button>
    <button class="button__rules">Правила</button>
</div>


<div class="board__container" >
    <div class="board__border">
        <div class="board__inner">
        </div>
    </div>    
</div>

<div class="rules__dialog">
    <div class="rules__header">Правила игры в Шашки</div>
    <ul>
        <li>Игра ведётся только на черных клетках</li>

        <li>Простые шашки ходят только вперёд</li>

        <li>Простая шашка может срубить назад</li>

        <li>Бить можно произвольное количество шашек подряд</li>

        <li>Бить обязательно</li>

        <li>Дамка ходит на любое число полей в любую сторону</li>


        <li>Шашка превращается в дамку, достигнув последней линии доски</li>

    </ul>
    <div style="text-align: center;" >
        <button class="rules__close">ОК</button>
    </div>


</div>



@section Scripts
{
    <script>
        
            $().ready(function() {

                new Game().initGame();
            });

    </script>


}
