.square {
    width: 12.5%;
    height: 12.5%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    &_black {
        background: url(/images/squareBlack.png);
        background-size: 100%;
    }

    &_white {
        background: url(/images/squareWhite.png);
        background-size: 100%;
    }
}
