
.figure {

    &:not(.figure_1) {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        box-shadow: 1px 0px 2px #333;
    }

    &_p {
        background-color: #333;
        border-color: #000;
    }

    &_P {
        background-color: white;
        border-color: silver;
        cursor: pointer;
    }

    &_q {
        background-color: #333;
        border-color: #000;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('/images/blackQueenCrown.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
        }
    }

    &_Q {
        background-color: white;
        border-color: silver;
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('/images/whiteQueenCrown.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
        }
    }
}
