.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center; }
  .square_black {
    background: url(/images/squareDark.png);
    background-size: 100%; }
  .square_white {
    background: url(/images/squareLight.png);
    background-size: 100%; }
